<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.iclab.st">

    <uses-sdk
        android:minSdkVersion="17"/>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".IntroActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FunctionActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".NewplaceActivity" />
        <activity android:name=".MapActivity" />
        <activity android:name=".SurveyActivity" />
        <activity android:name=".CompleteActivity" />
        <activity android:name=".RootActivity" />
        <activity android:name=".ProtectpanelActivity" />
        <activity android:name=".ProductActivity" />
        <activity android:name=".ExisitingActivity" />
        <activity android:name=".RegionsrchActivity" />
        <activity android:name=".NamesrchActivity"/>
        <activity android:name=".ValueprintActivity"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.iclab.st"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>